1. Возможность смотреть схематичный план дома по этажам, по квартирам.
   Быстрый поиск нужной квартиры, этажа...
   Документы по дому - договора, технические паспорта
   Показания счётчиков ежемесячно?
2. Сохранение жителей каждой квартиры, владельца. ФИО, телефон, почта...
   Поиск квартиры по владельцу, телефону, жителю
3. Инфа об УК. Реквезиты, телефоны, тарифы, договора, прайс-лист...
   История наших с ними общений - заметки, фотки, сканы рукописных заявлений...
   Список работников УК, их телефоны, контакты, характеристики, история общения с каждым...
4. Инфа об инициативной группе/совете - квартиры, телефоны, почта, ФИО...
5. Хранение заметок по этажам/квартирам/жителям
   Сюда могут входить фотки, видео, документы, сообщения...
6. Подключение к истории чатов вацапа? 
   Поиск всех сообщений отдельных жителей?
   Поиск по документам чата? Нужно разбираться с API или форматом экспорта чата
7. Создание, хранение общественных задач - кто участвует, кто скинулся деньгами.
   Опциональные фотки, документы по задаче, статус выполнения